@signal-angular-ui:registry=https://gitlab.com/api/v4/projects/47865110/packages/npm/
//gitlab.com/api/v4/projects/47865110/packages/npm/:_authToken=glpat-wamN9eFecsFetr6SWQQQ
//gitlab.com/api/v4/projects/47865110/packages/npm/:always-auth=true
//gitlab.com/api/v4/projects/47865110/packages/npm/:auto-install-peers=true