# @signal-angular-ui:registry=https://gitlab.com/api/v4/projects/50902157/packages/npm/  
# //gitlab.com/api/v4/projects/50902157/packages/npm/:_authToken=glpat-E8Gypna_rLyeM4Cin4tP
# always-auth=true  
# auto-install-peers=true 


# @signal-angular-ui:registry=https://gitlab.com/api/v4/projects/47865110/packages/npm/  
# //gitlab.com/api/v4/projects/47865110/packages/npm/:_authToken=glpat-wamN9eFecsFetr6SWQQQ
# //gitlab.com/api/v4/projects/47865110/packages/npm/:always-auth=true
# //gitlab.com/api/v4/projects/47865110/packages/npm/:auto-install-peers=true


@signal-angular-ui:registry=https://cicd-jfrog.telkomsel.co.id/artifactory/api/npm/npm/
//cicd-jfrog.telkomsel.co.id/artifactory/api/npm/npm/:_password=APAy8xB1uNXL8tSNoikaVnpiLtGxxxx
//cicd-jfrog.telkomsel.co.id/artifactory/api/npm/npm/:username=widdestoyud
//cicd-jfrog.telkomsel.co.id/artifactory/api/npm/npm/:email=widdesto_a_yudistiro@telkomsel.co.id
//cicd-jfrog.telkomsel.co.id/artifactory/api/npm/npm/:always-auth=true